{% extends "layouts/base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Import Bank Statement</h2>

    <form method="POST"
          enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label">
                Upload CSV File
            </label>

            <input
                type="file"
                class="form-control"
                name="csv_file"
                accept=".csv"
                required>
        </div>

        <button
            class="btn btn-primary">
            Import Transactions
        </button>

    </form>

</div>

{% endblock %}